#zillowBackground{
    display: grid;
    grid-template-columns: 200px  1fr 200px; 
    grid-template-rows: 1fr; 
    grid-column-gap: 2px;
    grid-template-areas: 
    ". zillowContent .";
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./zillowbackground.png');
    background-repeat: no-repeat;
    background-size: 102%;
    background-position: -25 0;
}

#zillowContent{
    grid-area: zillowContent;
    align-content: center;
    background-color: white;
    padding: 10px;
    height: 765px;
    width: fit-content;
    overflow: scroll;
}

#facts{
    padding-left: 10px;
    padding-right: 20px;
}